{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
    </div>
    {% endif %}
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <img src="{% my_media_tag object.image_preview %}" class="card-img-top p-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title pricing-card-title">{{ object.description | truncatechars:100 }}</h5>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:product_view' object.pk %}">{{ object.price_per_product }} руб</a>
                    <div class="btn-group">
                        {% if user.is_authenticated %}
                        <a href="{% url 'catalog:product_view' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                        {% endif %}

                        {% if user == object.owner or user.is_superuser %}
                        <a href="{% url 'catalog:update_product' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Изменить</a>
                        {% endif %}

                        {% if perms.catalog.can_edit_description %}
                        <a href="{% url 'catalog:update_product_description' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Изменить описание</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        {% if perms.catalog.can_change_category %}
                        <a href="{% url 'catalog:update_product_category' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Изменить категорию</a>
                        {% endif %}

                        {% if perms.catalog.can_set_published %}
                        <a href="{% url 'catalog:update_product_published' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Публикация</a>
                        {% endif %}

                        {% if user.is_superuser or user == object.owner %}
                        <a href="{% url 'catalog:delete_product' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Удалить</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

