{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <img src="{% my_media_tag object.image_preview %}" class="card-img-top p-2" alt="...">
                <div class="card-body">
                    <h5 class="card-title pricing-card-title">{{ object.description | truncatechars:100 }}</h5>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:product_view' object.pk %}">{{ object.price_per_product }} руб</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

